body {
    background: rgb(162, 238, 214);
}

h1 {
    color: rgb(56, 56, 56);
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 50px;
    margin-bottom: auto;
}

h2 {
    color: rgb(93, 93, 93);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
}

.myHeaders {
    color: rgb(12, 94, 142);
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#navBar {
    list-style-type: none;
    color: rgb(93, 93, 93);
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 20px;
    margin: 0 auto;
    width: 750px;
}

#navBar a {
    display: block;
    text-align: center;
    width: 150px;
    text-decoration: none; color: rgb(93, 93, 93);
}

#navBar li {
    float: left;
}
  
#navBar a:hover {
    text-decoration: underline; color: rgb(128, 89, 219);
}

.myParagraphs {
    color: rgb(128, 89, 219);
    font-family:'Courier New', Courier, monospace;
    text-align: justify;
    font-size: 20px;
    padding: 20px;
    margin-top: -30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    line-height: 1.7;
}

#topHobbies {
    color: rgb(128, 89, 219);
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    font-style: italic;
    font-size: 19px;
    padding: 20px;
    margin-top: -15px;
    margin-left: 70px;
    margin-right: 20px;
    margin-bottom: 0px;
    line-height: 1.7;
}

.littleParagraph {
    color: rgb(128, 89, 219);
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    font-style: normal;
    font-size: 17px;
    padding: 20px;
    margin-top: -15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    line-height: 1.7;
}

#pAbout a {
    color: rgb(16, 102, 12);
}

.smallList {
    color: rgb(16, 102, 12);
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    font-style: normal;
    font-size: 17px;
    padding: 20px;
    margin-top: -15px;
    margin-left: 90px;
    margin-right: 20px;
    margin-bottom: 0px;
    line-height: 1.7;
}

.smallList a {
    color: rgb(16, 102, 12);
}

.smallList a:hover {
    text-decoration: underline; 
    color: rgb(128, 89, 219);
}

#music a {
    color: rgb(16, 102, 12);
}

#spotifyPlaylist {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-style: none;
}

.wrappingImage {
    float: right;
    display: inline-block;
    margin: 5px 20px;
}

.wrappingImageLeft {
    float: left;
    display: inline-block;
    margin-left: -30px;
    margin-right: 50px;
}

.wrappingImageLeftWithHeader {
    float: left;
    display: inline-block;
    margin-left: 60px;
    margin-right: 40px;
}

img {
    max-width: 100%;
    height: auto;
}

#gardenButton {
    font-family: 'Courier New', Courier, monospace;
}

#fullGarden {
    display: none;
}