body {
    background: rgb(156, 230, 207);
}
h1 {
    color: rgb(56, 56, 56);
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    font-size: 50px;
}
h2 {
    color: rgb(93, 93, 93);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 30px;
}
#nav {
    color: rgb(128, 89, 219);
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    font-size: 25px;
    padding: 20px;
}